# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/

# Python packages
*.egg-info/