pandas
numpy
scikit-learn
matplotlib
seaborn
streamlit
google-generativeai
sentence-transformers
faiss-cpu
python-dotenv
pillow
opencv-python
tqdm
networkx
openpyxl
torch
torchvision
transformers
open-clip-torch
requests